@import "tailwindcss";

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  cursor: none !important;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  cursor: none !important;
}
